page-home {
       /* SEARCH BAR STYLES */
       .searchbar-ios{
        background: #975d9e;
        border: 0;
      }
      .searchbar-ios .searchbar-input{
        border-radius: 20px;
        padding: 16px;
      }
      .segment-ios .segment-button:first-of-type{border-radius: 0;border-left: 1px solid;}
      .segment-ios .segment-button{border-radius: 0;font-family: JF;border-left: 1px solid;}
      .segment-ios .segment-button:last-of-type{border-left: 1px solid;border-radius: 0 }
      .card-shop-icon{
        background: #975d9e;
        padding: 10px;
        border-radius: 100%;
        color: white;
      }
     
      .mt10{margin-top: 10px}   
      h6{color:#e0b52b !important}
      .basket-counter{
        border-radius: 100%;
        font-weight: bold;
        margin: 1px;
        background: #e0b52b;
        padding: 4px 7px;
        display: inline-block;
      }
      .text-center{margin: 20px auto}
}
