<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>الرئيسية</ion-title>
    <ion-buttons end>
       <button ion-button right icon-only>
        <span class="basket-counter">2</span>
        <ion-icon name="md-basket"></ion-icon> 
       </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
    <ion-content class="card-background-page">
        <ion-searchbar placeholder="ابحث عن كتاب ..."></ion-searchbar>
        <!-- Books TABS -->
        <div padding class="home-categories-tabs">
            <ion-segment [(ngModel)]="bookval1" class="segment-activated">
              <ion-segment-button value="bookval1">
                  صدر حديثا
              </ion-segment-button>
              <ion-segment-button value="bookval2">
                الآكثر مبيعا
              </ion-segment-button>
              <ion-segment-button value="bookval3">
                  أضيف مؤخراً
                </ion-segment-button>
            </ion-segment>
        </div>
          <!-- /. Books TABS -->
          <ion-grid>
              <ion-row>
                  <ion-col col-sm-12 col-md-6 col-lg-6>
                      <div [ngSwitch]="bookval1">
                          <ion-card *ngSwitchCase="'bookval1'">
                              <img src="../assets/imgs/book-img1.png"/>
                              <ion-card-content>
                                <ion-grid>
                                  <ion-row>
                                    <ion-col col-11 class="single-book-title">
                                      <h2>حي الدهشة</h2>
                                      <h6 class="mt10 golden">مها حسن</h6>
                                    </ion-col>
                                    <ion-col col-1>
                                        <ion-icon name="basket" class="card-shop-icon"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
  
                                  <ion-row>
                                    <ion-col col-3>
                                      <button ion-button  clear small>
                                        <ion-icon name="pricetag"></ion-icon>
                                        <div>30 رس</div>
                                      </button>
                                    </ion-col>
                                    <ion-col col-5>
                                      <button ion-button  clear small>
                                        <ion-icon name="person"></ion-icon>
                                        <div>دار ممدوح عدوان</div>
                                      </button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button ion-button icon-star clear small color="secondary">
                                            <ion-icon name="md-star"></ion-icon> 
                                            <ion-icon name="md-star"></ion-icon> 
                                            <ion-icon name="md-star"></ion-icon> 
                                            <ion-icon name="md-star"></ion-icon> 
                                            <ion-icon name="md-star"></ion-icon> 
                                        </button>
                                      </ion-col>
                                  </ion-row>
                              </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-col>
                  <ion-col col-sm-12 col-md-6 col-lg-6>
                    <div [ngSwitch]="bookval1">
                        <ion-card *ngSwitchCase="'bookval1'">
                            <img src="../assets/imgs/book-img2.png"/>
                            <ion-card-content>
                              <ion-grid>
                                <ion-row>
                                  <ion-col col-11 class="single-book-title">
                                    <h2>بحبر خفي</h2>
                                    <h6 class="mt10 golden">عبدالفتاح كيليطو</h6>
                                  </ion-col>
                                  <ion-col col-1>
                                      <ion-icon name="basket" class="card-shop-icon"></ion-icon>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>

                                <ion-row>
                                  <ion-col col-3>
                                    <button ion-button  clear small>
                                      <ion-icon name="pricetag"></ion-icon>
                                      <div>30 رس</div>
                                    </button>
                                  </ion-col>
                                  <ion-col col-5>
                                    <button ion-button  clear small>
                                      <ion-icon name="person"></ion-icon>
                                      <div>دار ممدوح عدوان</div>
                                    </button>
                                  </ion-col>
                                  <ion-col col-4>
                                      <button ion-button icon-star clear small color="secondary">
                                          <ion-icon name="md-star"></ion-icon> 
                                          <ion-icon name="md-star"></ion-icon> 
                                          <ion-icon name="md-star"></ion-icon> 
                                          <ion-icon name="md-star"></ion-icon> 
                                          <ion-icon name="md-star"></ion-icon> 
                                      </button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                          </ion-card>
                      </div>
                  </ion-col>


              </ion-row>
          </ion-grid>    
      </ion-content>
