<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>التصنيفات</ion-title>
      <ion-buttons end>
         <button ion-button right icon-only>
           <ion-icon name="md-basket"></ion-icon> 
         </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
      <ion-content class="card-background-page">
          <ion-searchbar></ion-searchbar>

                <ion-card>
                   <img src="../assets/imgs/card-amsterdam.png" class="card-image" style="height: 170px;"/>
                    <div class="card-title category-title">الكتب العربية</div>
                    <div class="card-subtitle">41 كتاب</div>
                </ion-card>


                <ion-card>
                    <img src="../assets/imgs/card-saopaolo.png" class="card-image" style="height: 170px;"/>
                     <div class="card-title category-title">الكتب الكتب الشرعية</div>
                     <div class="card-subtitle">23 كتاب</div>
                 </ion-card>


                 <ion-card>
                    <img src="../assets/imgs/card-amsterdam.png" class="card-image" style="height: 170px;"/>
                     <div class="card-title category-title">كتب العلوم الانسانية</div>
                     <div class="card-subtitle">30 كتاب</div>
                 </ion-card>
 
 
                 <ion-card>
                     <img src="../assets/imgs/card-amsterdam.png" class="card-image" style="height: 170px;"/>
                      <div class="card-title category-title">صدر حديثا</div>
                      <div class="card-subtitle">18 كتاب جديد</div>
                  </ion-card>
               
              
        </ion-content>
