// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*{direction: rtl;}
ion-title{font-family: JF;}
.pages{font-family: JF;font-size: 14px;}
ion-card{font-family: JF;}
.bar-button-ios{font-size: 13px;padding: 8px}
.segment-ios .segment-button{border-radius: 0;font-family: JF;border-left: 1px solid;}

.bg-color{background-color: #fff !important;}
ion-list button{color: #333 !important;background-color: transparent !important;}


.profile{position: relative;height: 190px;font-family: JF;background: #8F619A}
.profile-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.profile-img img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%
}
.profile-img p{
    text-align: center;
    font-size: 1em!important;
    color: #fff
}
.profile-page-toolbar{display: none;visibility: none}


.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner
{background: none}
ion-app.ios{padding: 14px 0}