<ion-menu type="push" side="right" [content]="content">
  <ion-header>
    <ion-toolbar class="profile-page-toolbar">
        <ion-title>القائمة</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-color">
    <!-- PROFILE IMAGE -->
    <div class="profile">
      <div class="profile-img">
        <img src="../assets/imgs/profile.png" alt="profile image">
        <p>لميس سالمي</p>
      </div>
    </div>
    <!-- /. PROFILE IMAGE -->
    <ion-list no-lines padding>
      <button class="pages"  menuClose icon-right ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" color="primary"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>